@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #0D1829;
  -webkit-font-smoothing: antialiased;
}