<section id="faq-section" class="relative py-16 lg:py-32 bg-white z-10">
  
  <!-- Layer Trái & Phải -->
  <!-- Ảnh trái -->
  <img 
    src="../../assets/images/faq-logo-left.png" 
    alt="Background pattern" 
    class="absolute top-16 lg:top-32 w-[300px] lg:w-[400px] -z-10 pointer-events-none"
  >
  <!-- Ảnh phải -->
  <img 
    src="../../assets/images/faq-logo-right.png" 
    alt="Background pattern" 
    class="absolute right-0 bottom-60 md:bottom-80 lg:bottom-[32%] w-[100px] lg:w-[200px] -z-10 pointer-events-none"
  >

  
  <div class="container mx-auto px-6 sm:px-12 lg:px-20 max-w-[1280px]">
    <!-- PHẦN 1: FREQUENTLY ASKED QUESTIONS -->
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-12 relative z-20">
      
      <!-- Cột trái: Title -->
      <div class="lg:col-span-5">
        <div class="top-24">
          <h2 class="text-2xl lg:text-3xl font-extrabold text-slate-900 leading-loose">
            Frequently <br class="hidden lg:block">
            Asked Questions
          </h2>
        </div>
      </div>

      <!-- Cột phải: Danh sách câu hỏi -->
      <div class="lg:col-span-7">
        <div id="faq-list" class="flex flex-col rounded-sm bg-white">

        </div>
      </div>
      
    </div>

    <!-- PHẦN 2: APPSCYCLONE IS A TEAM -->
    <div class="flex flex-col items-center text-center relative z-20 mt-20 md:mt- lg:mt-60">
      
      <!-- Tile và Subtitle -->
      <div class="mb-10 lg:mb-14">
        <h3 class="text-2xl lg:text-3xl font-extrabold text-slate-900 mb-4">
          Appscyclone is a team
        </h3>
        <p class="text-gray-600 text-sm md:text-">
          Everyone for one, one for all
        </p>
      </div>
    </div>
  </div>

   <!-- Ảnh full-width -->
  <div class="w-full max-w-full overflow-hidden rounded-lg shadow-sm">
    <img 
      src="../../assets/images/appscyclone-team.png" 
      alt="Appscyclone Team" 
      class="w-full h-auto object-cover"
    >
  </div>

</section>