<section id="special-value-section" class="bg-gray-100 overflow-hidden pt-12 md:pt-16 lg:pt-28">
  <div class="container mx-auto max-w-[1280px]">
    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-12">
      
      <!-- Cột trái -->
      <div class="flex flex-col h-full">
        <!-- Hàng trên: Section Title -->
        <div class="mb-12 lg:mb-0 pl-8 md:pl-12 lg:pl-16">
          <h2 class="text-2xl lg:text-3xl font-extrabold text-slate-900 leading-tight">
            <span class="text-[#00A8A4] block mb-2">Special Value</span>
            from Appscyclone
          </h2>
        </div>

        <!-- Hàng dưới: Background Image -->
        <div class="lg:flex flex-1 items-end justify-start relative pt-16">
          <img src="../../assets/images/special-value.png" alt="Appscyclone Background Logo" class="w-full object-contain">
        </div>
      </div>

      <!-- Cột phải: các Special Value -->
      <div id="value-list" class="flex flex-col space-y-8 lg:space-y-12"></div>
      
    </div>
    
  </div>
</section>