<section id="team-section" class="py-14 sm:py-16 md:py-20 lg:py-24 bg-white">
  <div class="container mx-auto px-4 sm:px-12 md:px-16 lg:px-20 max-w-[1280px]">
    
    <!-- Section Header -->
    <div class="flex flex-col md:flex-row md:items-end justify-between gap-6 sm:gap-7 md:gap-8 mb-8 sm:mb-12 md:mb-14 lg:mb-16">
      
      <!-- Cột text bên trái -->
      <div class="flex flex-col max-w-xl text-center md:text-left">
        <h2 class="text-2xl sm:text-3xl lg:text-3xl font-extrabold text-slate-900 mb-3 sm:mb-6">
          Appscyclone <span class="text-[#00A8A4]">Team</span>
        </h2>
        <p class="text-gray-500 leading-relaxed text-sm md:text-base">
          A team of enthusiastic instructors and mentors with a lot of experience accumulated from practical projects will accompany you throughout your learning process and career development path.
        </p>
      </div>

      <!-- Buttons bên phải -->
      <div class="flex items-center justify-center md:justify-start space-x-3 pb-2">
        <button id="team-prev-btn" class="w-10 h-10 sm:w-11 sm:h-11 md:w-12 md:h-12 rounded-full border border-gray-200 flex items-center justify-center text-gray-400 hover:border-slate-900 hover:text-slate-900 transition-colors">
          <img src="./assets/icons/arrow-left.svg" alt="prev" class="w-4 h-4 group-hover:brightness-0 group-hover:invert transition-all opacity-40 group-hover:opacity-100">
        </button>
        <button id="team-next-btn" class="w-10 h-10 sm:w-11 sm:h-11 md:w-12 md:h-12 rounded-full border border-slate-900 flex items-center justify-center text-slate-900 hover:bg-slate-900 hover:text-white transition-colors group">
          <img src="./assets/icons/arrow-right.svg" alt="next" class="w-4 h-4 group-hover:brightness-0 group-hover:invert transition-all">
        </button>
      </div>
      
    </div>

    <!-- Layout ảnh -->
    <div id="team-list" class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-3 sm:gap-6 md:gap-8"></div>
    
  </div>
</section>