<header class="sticky top-0 left-0 w-full mb-10 bg-bg-primary z-50">
  <div class="max-w-7xl mx-auto px-6 h-16 flex items-center justify-between">
    
    <!-- Logo -->
    <a href="index.html" class="flex items-center">
      <img src="../assets/icons/logo.svg" alt="Apps Cyclone Logo" class="h-8">
    </a>

    <!-- Nav Links -->
    <nav class="flex items-center gap-8 text-xs">
      <a href="index.html" class="px-3 py-3.5 rounded-full font-extrabold text-txt-primary hover:text-white hover:bg-gray-900 transition">Home</a>
      <a href="courses.html" class="px-3 py-3.5 rounded-full font-extrabold text-txt-secondary hover:text-white hover:bg-gray-900 transition">Courses</a>
      <a href="register.html" class="px-6 py-3.5 rounded-full bg-[#0D0F35] text-white font-extrabold hover:bg-gray-700 transition">
        Registered
      </a>
    </nav>
  </div>
</header>