<section id="special-value-section" class="relative bg-gray-100 overflow-hidden pt-12 md:pt-16 lg:pt-28">
  <div class="container mx-auto max-w-[1280px] px-6 sm:px-10 lg:px-0">
    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 sm:gap-10 lg:gap-12 relative z-10">
      
      <!-- Cột trái -->
      <div class="flex flex-col h-full">
        <!-- Hàng trên: Section Title -->
        <div class="mb-4 sm:mb-8 lg:mb-0 md:pl-0 lg:pl-16 relative z-20">
          <h2 class="text-3xl md:text-3xl lg:text-3xl font-extrabold text-slate-900 leading-tight">
            <span class="text-[#00A8A4] block mb-1 sm:mb-2">Special Value</span>
            from Appscyclone
          </h2>
        </div>

        <!-- Hàng dưới: Background Image -->
       <div class="absolute top-1/4 -left-12 w-[85%] sm:w-[60%] opacity-10 pointer-events-none z-0 lg:opacity-100 lg:pointer-events-auto lg:w-auto lg:relative lg:top-auto lg:left-auto lg:flex flex-1 items-end justify-start pt-0 lg:pt-16">
          <img src="../../assets/images/special-value.png" alt="Appscyclone Background Logo" class="w-full object-contain">
        </div>
      </div>

      <!-- Cột phải: các Special Value -->
      <div id="value-list" class="flex flex-col space-y-6 sm:space-y-8 lg:space-y-12 relative z-20 pb-12 lg:pb-0"></div>
      
    </div>
    
  </div>
</section>